/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	color:#444;
}

#title-slide h1 {
	font-size:148px;
	font-weight: bold;
}

#title-slide h2 {
	font-size:84px;
	color:#666;
}

#title-slide {
	opacity: 1;
}

/* COMMON STEP STYLES */

.step {
	font-family: sans-serif;

	font-size: 48px;
	line-height: 1.5;
	text-align: center;

	width: 600px;
	padding: 40px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;

}


/* fade out inactive slides */

.step {
	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-ms-transition:     opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;
}

.step:not(.active) {
	opacity: 0.1;
}


#overview {
	z-index: -1;
	padding: 150px 0px 0px;
	opacity: 1;
	font-size: 128px;
	color: #333;
}

#overview:not(.active) {
	opacity: 0;
}

#title-slide:not(.active) {
	opacity: .1;
}

.title {
	font-size: 64px;
	font-weight: bold;
	padding: 10px 0px;
}

.content {
	color:#555;
	font-style:italic;
}

.impress-on-overview .step {
	opacity: .3;
	cursor: pointer;
}

.impress-on-title-slide .step {
	opacity: .1;
}

#author {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: auto;

	background: #666;
	color: #EEE;
	text-align: right;

	font-size: 16px;
	padding: 10px;

	z-index: 100;

	opacity: .8;
}

/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
	font-family: sans-serif;
	line-height: 1.3;

	display: none;
	width: 780px;
	padding: 10px 10px 0;
	margin: 20px auto;

	border-radius: 10px;
	border: 1px solid #E4C652;
	background: #EEDC94;
}

.fallback-message p {
	margin-bottom: 10px;
}

.impress-not-supported .step {
	position: relative;
	opacity: 1;
	margin: 20px auto;
}

.impress-not-supported .fallback-message {
	display: block;
}

/* hint on the first slide */

.hint {
    position: fixed;
    left: 0;
    right: 0;
    top: 10px;
    
    color: #888;
    text-align: center;
    
    font-size: 40px;    
    z-index: 100;
    
    opacity: 0;
    
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-on-title-slide .hint {
    opacity: 1;
    
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s;
    transition:         opacity 1s 5s,         transform 0.5s;
    
}
